html, body { margin: 0; padding: 0; overflow: hidden; font-size:  10pt; font-family:  "courier new"; }
#infoholder { 
    background: black; color:white; padding: 5px; margin:0px; position: absolute; top:5px; left:5px; font-family:"courier new"; text-align: center; font-size:10pt; width:200px; height:15px;
    border-radius:3px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: opacity .08s linear, transform .08s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(.5);
  transition: visibility .08s, opacity .08s linear, transform .08s linear;
}
